.input {
  width: 326px;
  height: 22px;
  padding: 14px 18px;
  border: none;
  border-radius: 16px;
  background: rgba(240, 237, 255, 0.8);
  border: 1px solid transparent;
  outline: none;
  transition: all 0.3s ease-in-out;

  &::placeholder {
    color: #787878;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &:focus {
    border-color: #646cff;
  }
}

.readOnly {
  background: #646cff;
  color: rgb(223, 215, 215);
}
